
{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
<div class="card text-center">
    <p>
        A web app that takes an IT based project description and predicts its category (e.g: Web dev, Data Engr, Devops, etc) and recommends similar projects to the user using a previously trained Machine Learning model  
    </p>
    <p>The Machine Learning model was trained using the projectfinder data and the code and approach involved can be found <a href="https://gitlab.actgruppe.de/data-science-projects/projectfinder_analytics">here</a></p>
</div>


{% endblock %}
