{% extends "layout.html" %}
{% block message %}
    {{ clean }}
{% endblock %}
{% block title %}Results{% endblock %}


{% block content %}
        <h1 class="text-center">Outcome</h1>
            <ul class="list-group">
                
                {% if query %}
                    <li class="list-group-item list-group-item-primary text-center">The project is predicted to be {{labels[0]}} </li>
                    <li class="list-group-item list-group-item-primary text-center">The project could also be {{labels[1]}} </li>
                {% endif %}
                <br>
                <br>
                
                <div class="list-group">
                    <h1 class="text-center">Recommendations</h1>

                    {% if not recommended_projects.empty %}
                        {% for project in recommended_projects['title'][:10] %}
                            <div class="card-deck">
                                    <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{project}}</h5>
                                    </div>
                                    <div class="card-footer">
                                        
                                    </div>
                                    </div>
                            </div>
                        {% endfor %}
                    {% endif %}



{% endblock %}

